* {
  box-sizing: border-box;      /* padding + rahmen zählen zu breite/höhe  */
}

html, body {
  margin: 0;                   /* kein außenabstand */
  padding: 0;                  /* kein innenabstand */
  height: 100%;                /* ganzes fester hoch */

}

body {
  background-color: white;    
}


.page {
  display: flex;               /* kinder elemente  mit flexbox angeordnet */
  flex-direction: column;      /* liegen untereinander */
  width: 100%;                 
  min-height: 100vh;           /* mind so hoch wie browserfenster */
}


.yellow-bar {
  display:flex;                /* kinder elemente werden flexbox angeordnet */
  flex-direction: row;         /* liegen nebeneinander */
  justify-content: flex-end;   /*  sitzen rechts */
  align-items: center;        
  gap: 20px;                   
  flex: 0 0 150px;             /* von .page --> nicht wachsen/schrumpfen + höhe 150 px */
  width: 100%;                 /* volle breite */
  padding-right: 40px;         
  background: #f8ff37;        
}


.green-box {
  flex: 0 0 30px;              /* nicht wachsen/schrumpfen + grundgröße 30 px */
  width: 30px;                
  height: 30px;               
  background: #72ff59;         
}


.blue-box {
  position: relative;          /* bezugspunkt für  absolute  braune Box */
  flex: 0 0 auto;              /* nicht wachsen/schrumpfen + höhe nach height */
  align-self: flex-start;      /* bleibt links + wird nicht volle breite gestreckt */
  width: 400px;               
  height: 300px;               
  margin: 20px 0 0 20px;       
  background: lightblue;       
}


.brown-box {
  position: absolute;          /* frei +bezogen auf blaue box */
  right: 0;                    /* bündig rechts der blauen box */
  bottom: 0;                   /*bBündig unten der blauen box */
  width: 100px;              
  height: 100px;              
  background: #a67c1a;        
}

.fixed-box{
  position: fixed;             /* fenster kleben beim Scrollen */
  bottom: 0;                  
  right: 0;                    
  width: 50px;               
  height: 50px;                
  background: #d9a8e6;        
}